//Colors
$base-text-color: #405469
$programming: #B2B2B2
$photography: #E8285A
$blog: #C5518F
$resume: #00FFCC
$bg-dk-grey: #222
// $timeline: #A0AAB4
$timeline: #7592af
$recon: #F58634
$raise: #50BD9D
$riverside: #149BAD
$projects: #0044b5
$logo: #333332
$designhub: #1B549E
$ptp: #E2414B

// Weights
$light: 200
$regular: 400
$bold: 700

// Base Text
$base-text-family: 'Decima Nova'
$base-text-weight: $light

// Mono Headers
$mono-header-family: 'Decima Pro'
$mono-header-weight: $bold

// Mono text
$mono-text-family: 'Decima Mono'
$mono-text-weight: $regular

// Footer Height
$footer-height: 54px

// Structure
$content-width: 700px

// Breakpoitns
$extra-small: 320px
$small: 480px
$medium: 720px
$med-large: 1024px
$large: 1320px

// Timeline styling is a modified version of: https://codepen.io/paulhbarker/pen/apvGdv
// All credits for original concept to the author.

// Timeline
$box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07)
$border: 1px solid rgba(191, 191, 191, 0.4)
$items: 4
$rows: ceil($items / 2)

// Timeline -- Steps
$steps: #46b8e9
$colors: $recon, $raise, $riverside, $projects

// Timeline -- Cards
$card-height: 500px
$card-width: $content-width - 100px
$inner-margin: 15px
$number-size: 35px
$stagger: 180px
$outer-margin: 90px
$marker-size: 9px

// Timeline -- Structure
$container-height: $rows * ($card-height + $outer-margin) + $stagger * $rows
$container-width: $card-width * 2 + $outer-margin * 3
$head-height: $number-size + 50
$body-height: $card-height - $head-height
$marker-dist: $card-width + $outer-margin / 2 - $marker-size / 2
$timeline-padding: 50px

// Timeline -- Elements
$timeline-arrow-border: 10px solid transparent
$timeline-marker-shadow: 0px 0px 2px 8px white
$timeline-header-color: #fff

// Projects Cards -- Struct
$project-cols: 4
$project-items: 3
$project-card-margin: 10px

$project-card-min-width: $container-width / $project-cols - ($project-cols * $project-card-margin)
$project-card-max-width: $project-card-min-width
@if $project-items < $project-cols
  $project-card-max-width: $container-width / $project-items - ($project-items * $project-card-margin)
