//Colors
$base-text-color: #405469
$programming: #B2B2B2
$photography: #E8285A
$blog: #C5518F
$resume: #00FFCC
$bg-dk-grey: #222
$timeline: #D7E4ED
$recon: #F58634
$raise: #50BD9D
$riverside: #149BAD
$projects: #00A2AA

// Weights
$light: 200
$regular: 400
$bold: 700

// Base Text
$base-text-family: 'Decima Nova'
$base-text-weight: $light

// Mono Headers
$mono-header-family: 'Decima Pro'
$mono-header-weight: $bold

// Mono text
$mono-text-family: 'Decima Mono'
$mono-text-weight: $regular

// Footer Height
$footer-height: 54px

// Structure
$content-width: 700px
