@font-face {
  font-family: "Decima Nova";
  src: url("../fonts/Decima Nova/Decima Nova.ttf") format("truetype");
  font-weight: normal;
  font-size: normal;
}
@font-face {
  font-family: "Decima Mono";
  src: url("../fonts/Decima Mono/Decima Mono.ttf") format("truetype");
  font-weight: normal;
  font-size: normal;
}
@font-face {
  font-family: "Decima Pro";
  src: url("../fonts/Decima Pro/Decima Pro.ttf") format("truetype");
  font-weight: normal;
  font-size: normal;
}
/* line 21, ../sass/partials/_typography.sass */
body {
  font-family: "Decima Nova", sans-serif;
  font-weight: 200;
  color: #405469;
}

/* line 26, ../sass/partials/_typography.sass */
h1, h2, h3 {
  margin: 0;
  padding: 0;
}

/* line 30, ../sass/partials/_typography.sass */
h1 {
  font-size: 3.5em;
}

/* line 32, ../sass/partials/_typography.sass */
h2 {
  font-size: 2em;
}

/* line 34, ../sass/partials/_typography.sass */
h3 {
  font-size: 1.5em;
}

/* line 37, ../sass/partials/_typography.sass */
h1.programming, p.programming {
  color: #003A8E;
}

/* line 40, ../sass/partials/_typography.sass */
h1.photography, p.photography {
  color: #E8285A;
}

/* line 43, ../sass/partials/_typography.sass */
h1.blog, p.blog {
  color: #C5518F;
}

/* line 46, ../sass/partials/_typography.sass */
h1.resume, p.resume {
  color: #00FFCC;
}

/* line 49, ../sass/partials/_typography.sass */
.home-title-header {
  font-family: "Decima Pro", sans-serif;
  font-weight: 700;
}

/* line 53, ../sass/partials/_typography.sass */
.home-title-description {
  font-family: "Decima Mono", sans-serif;
  font-weight: 400;
}

/* line 57, ../sass/partials/_typography.sass */
a {
  padding: 10px;
  transition: color 0.2s ease;
}
/* line 58, ../sass/partials/_typography.sass */
a:hover {
  cursor: pointer;
}

/* line 64, ../sass/partials/_typography.sass */
.programming:hover {
  color: #003A8E;
}

/* line 68, ../sass/partials/_typography.sass */
.photography:hover {
  color: #E8285A;
}

/* line 72, ../sass/partials/_typography.sass */
.blog:hover {
  color: #C5518F;
}

/* line 76, ../sass/partials/_typography.sass */
.resume:hover {
  color: #00FFCC;
}

/* line 1, ../sass/partials/_layout.sass */
html {
  height: 100%;
  width: 100%;
}

/* line 5, ../sass/partials/_layout.sass */
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 11, ../sass/partials/_layout.sass */
.home-containter {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* line 24, ../sass/partials/_layout.sass */
.top-header {
  display: flex;
  flex-direction: row;
  order: 0;
  max-width: 680px;
  flex: 1;
  margin-top: 30px;
}

/* line 32, ../sass/partials/_layout.sass */
.image-container {
  order: 0;
  margin-right: 10px;
  padding-right: 10px;
  max-width: 140px;
}
/* line 38, ../sass/partials/_layout.sass */
.image-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: top;
}

/* line 44, ../sass/partials/_layout.sass */
.header-container {
  order: 1;
  flex: 2;
}
/* line 47, ../sass/partials/_layout.sass */
.header-container h1 {
  text-align: center;
}

/* line 50, ../sass/partials/_layout.sass */
.links-container {
  text-align: center;
  order: 1;
  flex: 1;
}

/* line 1, ../sass/partials/_footer.sass */
.footer {
  font-size: 1.5em;
  color: #405469;
  height: 54px;
  order: 3;
  flex: 0.5;
}
/* line 8, ../sass/partials/_footer.sass */
.footer .fa {
  margin: 2px;
}
/* line 11, ../sass/partials/_footer.sass */
.footer .fa:hover {
  cursor: pointer;
  color: #6b87a4;
}
